* {
	border: 0;
	padding: 0;
}

body {
	font-family: 'Lucida Grande', Tahoma, sans-serif;
	color: #555;
	line-height: 150%;
	margin-top: 10px;
}

h2 {
    font-size: 16px;
    color: #444;
    margin: 2px 0px 10px 0px;
}

h2 a {
    color: #444;
    text-decoration: none;
}

a {
    color: #086F9E;
}

a img {
	border: 0;
}

p {
	text-align: justify;
	padding: 3px;
}

fieldset {
	border:0;
}

fieldset ul, fieldset li{
	border:0;
	margin:0;
	padding:0;
	list-style:none;
}

fieldset li{
	clear:both;
	list-style:none;
	padding-bottom:10px;
}

fieldset input{
	float:left;
}
fieldset label{
	width:140px;
	float:left;
}


.clear {
	clear: both;
}

div {
	margin: 0;
	padding: 0;
}
