* {
	border: 0;
	padding: 0;
}

body {
	font-family: 'Lucida Grande', Tahoma, sans-serif;
	color: #555;
	line-height: 150%;
}

#container {
	margin: auto;
	width: 95%;
	background-color: #FFFFFF;
}

#header {
	width: 100%;
	background-color: #FFFFFF;
	margin-bottom: 10px;
}

#sidebar {
	width: 20%;
	float: left;
}

#main {
	width: 80%;
	float: left;
}

#content {
	margin: 10px;
}



h2 {
    font-size: 16px;
    color: #444;
    margin: 2px 0px 10px 0px;
}

h2 a {
    color: #444;
    text-decoration: none;
}

a {
    color: #086F9E;
}

a img {
	border: 0;
}

p {
	text-align: justify;
	padding: 3px;
}

ul, li {
	list-style-position: inside;
}

fieldset {
	border:0;
}

fieldset ul, fieldset li{
	border:0;
	margin:0;
	padding:0;
	list-style:none;
}

fieldset li{
	clear:both;
	list-style:none;
	padding-bottom:10px;
}

fieldset input{
	float:left;
}
fieldset label{
	width:140px;
	float:left;
}


.clear {
	clear: both;
}

div {
	margin: 0;
	padding: 0;
}

#menu h3 {
	margin-left: 7px;
}

#menu ul {
	margin: 10px;
	margin-left: 5px;
	padding: 0px;
	list-style: none;
}

#menu li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu li a {
	display: block;
	padding: 4px;
	text-decoration: none;
}


#content h1 {
	background-color: #086F9E;
	color: #FFFFFF;
	padding: 6px;
	font-weight: none;
}

.three_col {
	float: left;
	width: 29%;
	margin-left: 0%;
	padding: 0px;
}
.four_col {
	float: left;
	width: 24Å%;
	margin-left: 0%;
	padding: 0px;
}



.label {
	font-weight: bold;
	font-size: 12px;
}

.description {
	border: solid #666666 1px;
	font-size: 10px;
	color: #666666;
	padding: 4px;
	margin: 5px;
}

.actions {
	float: left;
}

.text, .description {
	font-family: 'Courier New', Verdana, Tahoma, sans-serif;
	font-size: 14px;
}

.status, .actions{
	float: right;
}

.personal-info p {
	margin: 0;
}

.raw li {
	list-style: none;
}

#main .red, #main .green, #main .yellow {
	color: #000000;
}
#main .red {
	background-color: #FF0000;
}
#main .green {
	background-color: #00FF00;
}
#main .yellow {
	background-color: #FFFF66;
}

#sidebar .red {
	list-style: inside url(/media/icons/flag_red.png);
} 

#sidebar .green {
	list-style: inside url(/media/icons/flag_green.png);
}

#sidebar .yellow {
	list-style: inside url(/media/icons/flag_yellow.png);
}