#container {
	margin: auto;
	width: 95%;
	background-color: #FFFFFF;
}

#header {
	width: 100%;
	background-color: #FFFFFF;
	margin-bottom: 10px;
}

#sidebar {
	margin-right: 2%;
	width: 18%;
	float: left;
}

#main {
	width: 80%;
	float: left;
}

#content {
	margin: 0px;
}



#menu h3 {
	margin-left: 7px;
}

#menu ul {
	margin: 10px;
	margin-left: 5px;
	padding: 0px;
	list-style: none;
}

#menu li {
	margin: 0;
	margin-left: 22px;
	height: 18px;
}

#menu li a {
	display: block;
	text-decoration: none;
}

#menu #project_list li {
	list-style: url(/media/icons/box.png);
}

#menu #project_list .owner {
	list-style: url(/media/icons/briefcase.png);
}

#menu h3 {
	background-color:#333333;
	color: #FFFFFF;
	width: 96%;
	padding: 2%;
	font-weight: normal;
	margin: 0;
}

#content h1 {
	background-color: #086F9E;
	color: #FFFFFF;
	padding: 6px;
	font-weight: none;
}

#content h2, h3 {
	border-bottom: solid #666666 1px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.three_col {
	float: left;
	width: 29%;
	margin-left: 0%;
	padding: 0px;
}
.four_col {
	float: left;
	width: 24%;
	margin-left: 0%;
	padding: 0px;
}



.label {
	font-weight: bold;
	font-size: 12px;
}

.address {
	margin-left: 20px;
}

.description {
	border: solid #666666 1px;
	font-size: 10px;
	color: #666666;
	padding: 4px;
	margin: 5px;
}

.actions {
	float: left;
}

.text, .description {
	font-family: Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
	font-size: 12px;
}

.text li, .description li {
	font-size: 12px;
}

.footnote {
	font-size: 10px;
}

.status, .actions {
	float: right;
}

.icons {
	text-align: right;
	margin-top: 0;
	padding: 0;
}

.personal-info, .cv-course p {
	margin: 0;
}

#main li {
	list-style-position: inside;
}

.raw li {
	list-style: none;
}

#main .manager a {
	padding-left: 18px;
	background-image: url(/media/icons/user_suit.png);
	background-repeat: no-repeat;
	height: 18px;
}

#main .members li {
	list-style: inside url(/media/icons/user.png);
	height: 18px;
}

#main .notes li {
	list-style: inside url(/media/icons/note.png);
	height: 18px;
}

#main .files li {
	list-style: inside url(/media/icons/page.png);
	height: 18px;
}

#main .red, #main .green, #main .yellow {
	color: #000000;
}
#main div.red, #main span.red {
	background-color: #FF0000;
}
#main div.green, #main span.green {
	background-color: #00FF00;
}
#main div.yellow, #main span.yellow {
	background-color: #FFFF66;
}

li.red {
	list-style: url(/media/icons/flag_red.png);
} 

li.green {
	list-style: url(/media/icons/flag_green.png);
}

li.yellow {
	list-style: url(/media/icons/flag_yellow.png);
}

.cv p {
	margin-top: 0;
	margin-bottom: 0;
}
.cv h2 {
	margin-top: 10px;
} 

.cv div {
	margin-left: 10px;
}

.editable{
	color: #000;
	background-color: #ffffd3;
}

.indented{
	margin-left: 10px;
}