body {
	background-color: #FFF;
	color: #000;
	font-family: Verdana, Arial, Tahoma, Sans-Serif;
	font-size: 12px;
}

div#contents {
	background: url("/media/images/cv_logo.png") no-repeat top left;
	margin-top: 60px;
	margin-right:auto;
	margin-left:auto;
	width: 880px;
}

div#cv_contents
{
	margin-right:auto;
	margin-left:auto;
	width: 480px;
}


h1 {
	margin: 0px 0px 40px 0px;
	font-size: 48px;
}

h2 {
	text-transform: uppercase;
	margin: 0px;
	font-size: 14px;
}

h3 {
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 12px;
	font-weight: bold;
	font-family: Georgia, Serif;
}

p,ul {
	margin: 0px;
	color: #736D7B;
	line-height: 17px;
}

ul {
	list-style-image: url("/media/icons/dot.png");
	padding-left: 16px;
}

a {
	text-decoration: none;
	color: #736D7B;
}

a:hover {
	font-weight: bold;
}

div.updated_date {
	text-align: right;
	font-size: 10px;
	color: #736D7B;
	margin-top: 20px;
	margin-bottom: 20px;
}