html, body {
	margin: 0px;
	padding: 0px;
	background: url('../images/splash/bg.png') repeat-x 100%;
	background-color: #005c89;
}

a, a:visited, a:hover {
	color: white;
}

body {
	font-family: verdana, sans-serif;
	color: #FFF;
	background-color: white;
	text-align: center;
}

div#title {
	margin: 0px center;
	width: 100%;
}

img#logo {
	margin-top: 120px;
	margin-bottom: 30px;
	border: none;
}

#social {
	margin-top: 100px;
}

#social img.media_icon {
	margin-left: 10px;
	margin-right: 10px;
	width: 60px;
	border: none;
}

div.clear {
	clear: both;
}

div#input-box {
	border: solid #999 1px;
	width: 600px;
	margin: auto;
	background-color: #FFFFFF;
}

#lupa_small {
	position: relative;
	top: 5px;
}

input[name=find] {
	width: 560px;
	height: 40px;
	font-size: 26px;
	border:none;
}

#auth {
	float:right;
	margin-right: 10px;
	font-size: 13px;
}

#auth li {
	list-style:none;
	display: inline;
}

#auth ul { margin: 0px; }

#auth input[id^=id_] { width: 90px; }

#auth { height: 13px; }

#auth-form, #social, #auth {
  opacity: 0;              /* CSS3 */
  -moz-opacity: 0;         /* legacy Firefox */
  -khtml-opacity: 0;       /* legacy Safari/Konqueror */
  filter: alpha(opacity=0); /* MSIE */
}