{% extends "base.html" %}
{% load humanize %}
{% load markup %}

{% block content %}
	<div class="note_detail">
		<h1>{{ object.title }}</h1>
		
		<div class="status">
			Added {{object.set_date|naturalday}}
		</div>
	
		<p><b class="label">Action Item:</b> <a href="{{object.actionitem.get_absolute_url}}">{{object.actionitem.title}}</a></p>
		<p><b class="label">Author:</b> <a href="{{object.author.get_absolute_url}}">{{object.author.get_full_name}}</a></p>
		<div class="description clear text">{{object.description|textile}}</div>	

		<div class="actions">
			<ul class="raw">
			<li><a href="{{object.get_absolute_url}}edit/"><img src="{{MEDIA_URL}}icons/note_edit.png" alt="Edit Note"> Edit Note</a></li>
			<li><a href="{{object.get_absolute_url}}delete/"  onclick="return confirm('Are you sure you want to delete?')"><img src="{{MEDIA_URL}}icons/note_delete.png" alt="Delete Note"> Delete Note</a></li>
			</ul>
		</div>

	</div>
{% endblock %}