{% extends "base.html" %}
{% load humanize %}
{% load datecolor %}
{% load markup %}

{% block content %}
	<div class="note_detail">
		<h1>{{ object.title }}</h1>
		
		<div class="status">
			{% if object.done %}
				<span class="green">Done</span>
			{% else %}
				<span class="{{object|colorstatus}}">Dues: {{object.due_date|naturalday}}</span>
			{% endif %}
		</div>
	
		<p><b class="label">Project:</b> <a href="{{object.project.get_absolute_url}}">{{object.project.name}}</a></p>
		<p><b class="label">Author:</b> <a href="{{object.author.get_absolute_url}}">{{object.author.get_full_name}}</a></p>
		<div class="description clear text">{{object.description|textile}}</div>	

		<h2>Team</h2>
		<ul>
			{% for user in object.targets.all %}
				<li><a href="{{user.get_absolute_url}}">{{user.get_full_name}}</a></li>
			{% endfor %}
		</li>
		</ul>
		
		<div class="actions">
			<ul class="raw">
			{% if not object.done %}
			<li><a href="{{object.get_absolute_url}}finish/"><img src="/media/icons/accept.png" alt="Finish ActionItem"> Mark as Done</a> </li>
			{% endif %}
			<li><a href="/gestor/actionnote/in/{{object.id}}/"><img src="/media/icons/note_add.png" alt="Add Note"> Add Note to ActionItem</a> </li>
			<li><a href="{{object.get_absolute_url}}edit/"><img src="/media/icons/cog_edit.png" alt="Edit ActionItem"> Edit ActionItem</a> </li>
			<li><a href="{{object.get_absolute_url}}delete/" onclick="return confirm('Are you sure you want to delete?')"><img src="/media/icons/cog_delete.png" alt="Delete ActionItem"> Delete ActionItem</a></li>
			</ul>
		</div>
		
		{% if notes %}
			<div class="clear">
				<h2>Notes</h2>
				{% for note in notes %}
					<div class="note">
						<div class="actions">
							<a href="{{note.get_absolute_url}}edit/"><img src="/media/icons/note_edit.png" alt="Edit Note"></a>
							<a href="{{note.get_absolute_url}}delete/"  onclick="return confirm('Are you sure you want to delete?')"><img src="/media/icons/note_delete.png" alt="Delete Note"></a>
						</div>
						<h3>{{note.author.get_full_name}}:</h3> 
						<div class="text">{{note.description|textile}}</div>
					</div>
				{% endfor %}
				<div class="note_form">
					<h3>Add note:</h3>
					<fieldset>
						<form action="{% url gestor.views.actionnote_create object.id %}" method="post">
							{{ add_note_form.as_ul }}
							<div class="clear"><input type="submit" value="Add" /></div>
						</form>
					</fieldset>
				</div>
						
			</div>
		{% endif %}
		
	</div>
{% endblock %}