<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="/media/admin/css/forms.css" />
	<link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css" />

	<script type="text/javascript" src="/dynamic-media/jsi18n/"></script>
	<script type="text/javascript" src="/media/admin/js/core.js"></script>
	<script type="text/javascript" src="/media/admin/js/dateparsing.js"></script>
	<script type="text/javascript" src="/media/admin/js/admin/RelatedObjectLookups.js"></script>
	<script type="text/javascript" src="/media/admin/js/calendar.js"></script>
	<script type="text/javascript" src="/media/admin/js/admin/DateTimeShortcuts.js"></script>
	
	{% block feeds %}
		<link rel="alternate" type="application/rss+xml" title="User Feeds" href="/gestor/feeds/ActionItems/{{user.username}}" />
	{%endblock feeds%}

	<script src="{{MEDIA_URL}}js/prototype.js"></script>
	<script src="{{MEDIA_URL}}js/tooltip.js"></script>
	<script src="{{MEDIA_URL}}js/gestor.js"></script>
	<link rel="stylesheet" href="{{MEDIA_URL}}css/common.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="{{MEDIA_URL}}css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
	<link rel="shortcut icon" href="{{MEDIA_URL}}images/favicon.ico">
	<link rel="icon" type="image/png" href="{{MEDIA_URL}}images/favicon.png">
	
	{% block head_meta %}{% endblock %}
	
	<title>Gestor jeKnowledge</title>
</head>
<body>
	<div id="container">
		
		<div id="header">
			
			<a href="/gestor/" style="float: left;"><img src="{{MEDIA_URL}}images/logo.gif" alt="jeKnowledge"></a>
			
			{% if request.user.is_authenticated %}
			<div style="float: right; padding-right: 50px; padding-top: 40px;">
			<form action="/gestor/search/" method="post"><input type="text" name="find" value="Search..." id="id_find" onclick="this.clear();"/> <input type="submit" value="Find" /></form>
			</div>
			{% endif %}
			
		</div>
		
		{% include "sidebar_gestor.html" %}
		
		<div id="main">
			<div id="messages">
				{% if messages %}
				<ul>
				    {% for message in messages %}
				    <li>{{ message }}</li>
				    {% endfor %}
				</ul>
				{% endif %}
			</div>
			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
			
		</div>
		
		
	</div>
</body>
</html>
