<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="/admin/media/css/forms.css" />
	<link rel="stylesheet" type="text/css" href="/admin/media/css/widgets.css" />
	<script type="text/javascript" src="/admin/jsi18n/"></script>
	<script src="/admin/media/js/core.js"></script>
	<script src="/admin/media/js/dateparse.js"></script>
	<script src="/admin/media/js/timeparse.js"></script>
	<script src="/admin/media/js/calendar.js"></script>
	<script src="/admin/media/js/admin/DateTimeShortcuts.js" type="text/javascript"></script>

	<link rel="stylesheet" href="{{MEDIA_URL}}css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<title>Gestor jeKnowledge</title>
</head>
<body>
	<div id="container">
		<div id="main">
			
			<h1><a href="/"><img src="{{MEDIA_URL}}images/logo.gif" alt="jeKnowledge"></a></h1>
			
			<div id="messages">
				{% if messages %}
				<ul>
				    {% for message in messages %}
				    <li>{{ message }}</li>
				    {% endfor %}
				</ul>
				{% endif %}
			</div>
			
			{% block content %}
			{% endblock %}
			
		</div>
		
		{% if not user.is_anonymous %}
			<div id="menu">
				{% block menu %}
					{% load todo %}
				
					<h3>Todo  List</h3>
						{{request.user.username|todo|safe}}
					<ul>
						<li><a href="/accounts/logout">Logout</a></li>
					</ul>
				{% endblock %}
			</div>
		{% endif %}
	</div>
</body>
</html>