{% extends "base.html" %}
{% load humanize %}
{% load datecolor %}

{% block content %}
	<div class="project_detail">
		<h1>{{ object.name }}</h1>
	
		<div class="status">
			{% if object.active %}
				<b>Active</b> since {{object.start_date|naturalday}}
			{% else %}
				<b>Finished</b> ( from {{object.start_date|naturalday}} to {{object.end_date|naturalday}})
			{% endif %}
		</div>
	
		<p class="description clear text">{{object.description}}</p>
		<div>
			<p><span class="label">Manager: </span> <span class="manager"><a href="{{object.manager.get_absolute_url}}">{{object.manager.get_full_name}}</a></span></p>
		</div>	
			
		<div class="three_col">
			<p><span class="label">Members: </span></p> <ul class="members">
				{% for user in object.team.all %}
					<li><a href="{{user.get_absolute_url}}">{{user.get_full_name}}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="three_col">
			<p><span class="label">Action Items: </span></p> <ul class="action-items">
				{% for item in actionitems %}
					<li><a href="{{item.get_absolute_url}}" class="{{item|colorstatus}}">{{item.title}}</a></li>
				{% endfor %}
			</ul>
			<img src="{{MEDIA_URL}}icons/cog_add.png" alt=""> <a href="/gestor/action/in/{{object.id}}">New ActionItem</a>
		</div>
		<div class="three_col">
			<p><span class="label">Notes: </span></p> <ul class="notes">
				{% for note in notes %}
					<li><a href="{{note.get_absolute_url}}">{{note.title}}</a></li>
				{% endfor %}
			</ul>
			<img src="{{MEDIA_URL}}icons/note_add.png" alt=""> <a href="/gestor/note/in/{{object.id}}">New Note</a>
		</div>
		<div class="clear"></div>
		
		
	</div>
{% endblock %}