{% extends "base.html" %}
{% load humanize %}

{% block content %}
	<div class="project_detail">
		<h1>{{ object.name }}</h1>
	
		<div class="status">
			{% if object.status %}
				<b>Active</b> since {{object.start_date|naturalday}}
			{% else %}
				<b>Finished</b> ( from {{object.start_date|naturalday}} to {{object.end_date|naturalday}})
			{% endif %}
		</div>
	
		<p class="description clear text">{{object.description}}</p>
		<div>
			<p><span class="label">Manager: </span> <span class="manager"><a href="{{object.manager.get_absolute_url}}">{{object.manager.get_full_name}}</a></span></p>
			<p><span class="label">Members: </span></p> <ul class="members">
				{% for user in object.workers.all %}
					<li><a href="{{user.get_absolute_url}}">{{user.get_full_name}}</a></li>
				{% endfor %}
			</ul>
		</div>
		
		
	</div>
{% endblock %}