{% extends "base.html" %}
{% load datecolor %}

{% block content %}
	<div class="dashboard">
		<div id="left_col">
		
		<div id="my_proj" class="widget">
			
			<h1>My Projects</h1>
			{% if my_proj_list %}
			<ul class="my_projects">
				{% for object in my_proj_list %}
					{% if object.active %}
						<li class="open"><a href="{{object.get_absolute_url}}">{{object.name}}</a></li>
					{% else %}
						<li class="closed"><a href="{{object.get_absolute_url}}">{{object.name}}</a> [closed]</li>
					{% endif %}
				{% endfor %}
			</ul>
			<a href="#" id="toggle-projects">[See all]</a>
			{% else %}
				<span class="warning">No projects in list</span>
			{% endif %}
			
		</div>
		
		<div id="my_tasks" class="widget">

			<h1>My Tasks</h1>
			{% if my_task_list %}
			<ul class="tasks">
				{% for object, remaining in my_task_list %}
					{% if object.done %}
					<div class="task closed">
					{% else %}
					<div class="task open">
					{% endif %}
					
						<div class="task_info">
							<li class="{{object|colorstatus}}">
								<a href="{{object.get_absolute_url}}" title="{{remaining}} days left in {{object.project.name}}">{{object.title}}</a>
							</li>
						</div>
						
						<div class="task_actions">
							<a href="/gestor/actionnote/in/{{object.id}}/" title="Add Note to ActionItem"><img src="{{MEDIA_URL}}icons/note_add.png" alt="Add Note" /></a>
							{% if not object.done %}
							<a href="{{object.get_absolute_url}}finish/" title="Finish ActionItem"><img src="{{MEDIA_URL}}icons/accept.png" alt="Finish ActionItem" /></a>
							{% endif %}
						</div>
						
						<div class="clear"></div>
					</div>
				{% endfor %}
			</ul>
			<a href="#" id="toggle-tasks">[See all]</a>
			{% else %}
				<span class="warning">You have no tasks! :)</span>
			{% endif %}

		</div>
		
		</div>
		
		<div id="right_col">
		
		<div id="jk_projects" class="widget">
			<h1>jeKnowledge's Projects</h1>
			{% if jk_proj_list %}
			<ul class="jk_projects">
				{% for object in jk_proj_list %}
					{% if object.active %}
					<div class="jk_proj open">
					{% else %}
					<div class="jk_proj closed">
					{% endif %}

						<li><a href="{{object.get_absolute_url}}">{{object.name}}</a></li>
						
						<div class="proj_info indented">
							<span class="label">Manager: </span> <span class="manager"><a href="{{object.manager.get_absolute_url}}">{{object.manager.get_full_name}}</a></span>
							<br />
							<span class="label">Team: </span>
							{% for user in object.team.all|slice:":3" %}
								<span class="member"><a href="{{user.get_absolute_url}}">{{user.get_full_name}}</a></span>{% if not forloop.last %},{% else %}
									{% if not object.team.all|length_is:"1" and not object.team.all|length_is:"2" and not object.team.all|length_is:"3" %}...{% endif %}
								{% endif %}
							{% endfor %}
							{#{% ifgreater object.team|length 3%}...{% endifgreater %}#}
							
						</div>

						<div class="clear"></div>
					</div>
				{% endfor %}
			</ul>
			<a href="#" id="toggle-projects">[See all]</a>
			{% else %}
				<span class="warning">No projects in list</span>
			{% endif %}
		</div>
		
		</div>
	</div>

{% endblock %}