{% extends "base.html" %}

{% block content %}
	<div class="dashboard">
		<div class="my_proj">
   
			<h1>My Projects</h1>
			{% if my_proj_list %}
			<ul class="my_projects">
				{% for object in my_proj_list %}
					{% if object.active %}
						<li class="open"><a href="{{object.get_absolute_url}}">{{object.name}}</a></li>
					{% else %}
						<li class="closed"><a href="{{object.get_absolute_url}}">{{object.name}}</a> [closed]</li>
					{% endif %}
				{% endfor %}
			</ul>
			<a href="#" id="toggle-projects">[See all]</a>
			{% else %}
				<span class="warning">No projects in list</span>
			{% endif %}
   
		</div>
	
	
	</div>

{% endblock %}