<div id="sidebar">

{% if not user.is_anonymous %}
	<div id="menu">
		{% block menu %}
			{% load todo %}
			{% load projecting %}
			{% load dashboard %}
			
			
			<h3>Todo List</h3>
			{{request.user.username|todo|safe}}

			<p class="icons">
				<a href="/gestor/feeds/ActionItems/{{request.user.username}}/"><img src="/media/icons/rss.png" alt="RSS"></a>
				<a href="/gestor/ical/ActionItems/{{request.user.username}}/"><img src="/media/icons/calendar.png" alt="iCal"></a>
			</p>
			
			
			<h3>Projects</h3>
			
			<ul id="project_list" class="projects">	

				{% for project in request.user|workspace %}
					{% ifequal project.manager request.user %}
						<li class="owner">
					{% else %}
						<li>
					{% endifequal %}
						<a href="{{project.get_absolute_url}}" title="{% if project.name|length|bigger_than:"25" %}{{project.name}}{%endif%}">{{project.name|trunc:"25"}}</a></li>
				{% endfor %}

				{% if perms.gestor.add_project %}
					<span class="smaller"><a href="/gestor/project/create/"><img src="/media/icons/add.png" alt="add" /> Create a Project</a></span>
				{% endif %}
			</ul>


			<h3>Account</h3>
			<ul>
				{% if request.user.is_staff  %}<li><a href="/admin">Administration</a></li>{% endif %}
				{% if perms.mainsite.add_news %}<li><a href="/noticias/create/">Create a News Post</a></li>{% endif %}
				
				<li><a href="/accounts/profile">My Profile</a></li>
				<li><a href="/accounts/edit_profile">Edit your Profile <img src="{{MEDIA_URL}}icons/new.png" /></a></li>
				<li><a href="/accounts/edit_curriculum">Edit your Curriculum</a></li>
				<li><a href="/accounts/password_change">Change Password</a></li>
				<li><a href="/accounts/logout">Logout</a></li>
			</ul>
			
		{% endblock %}
	</div>
{% endif %}

</div>