{% extends "base.html" %}
{% load humanize %}
{% load markup %}

{% block content %}
	<div class="hresume">
		<div class="contact vcard">
		
			<h1><span class="fn">{{u.get_full_name}}</span>'s curriculum</h1>
			<div class="cv-set_date status">
				<p><b class="label">Last Updated: </b>{{cv.set_date|naturalday}}</b></p>
			</div>


			<h2>Personal info</h2>
			<div class="personal-info">
				<p><b class="label adr">Address:</b> <span class="street-address">{{cv.address|linebreaksbr}}</span></p>
				<p><b class="label">Phone:</b> <span class="tel">{{cv.phone}}</span></p>
				<p><b class="label">E-mail:</b> <a href="mailto:{{u.email}}" class="email">{{u.email}}</a></p>
				{% if cv.homepage %}<p><b class="label">Homepage:</b> <span class="url">{{cv.homepage|urlize }}</span></p>{% endif %}
			</div>
		</div>
		<h2>Course info</h2>
		<div class="cv-course education vevent">
			<p><b class="label">Course:</b> <span class="summary">{{cv.course}}</span></p>
			<p><b class="label">Course Year:</b><span class="summary"> {{cv.course_year|ordinal}} year</span></p>
		</div>
		
		{% if cv.complements %}
		<h2>Complements</h2>
		<div class="cv-complements">
			<p>{{cv.complements|textile}}</p>
		</div>
		{% endif %}
		
		{% if cv.proficient_areas %}
		<h2>Proficient Areas</h2>
		<div class="cv-proficient_areas">
			<p class="summary">{{cv.proficient_areas|textile}}</p>
		</div>
		{% endif %}
		
		{% if cv.foreign_langs %}
		<h2>Foreign Languages</h2>
		<div class="cv-foreign_langs">
			<p>{{cv.foreign_langs|textile}}</p>
		</div>
		{% endif %}
		
		{% if cv.computer_skills %}
		<h2>Computer Skills</h2>
		<div class="cv-computer_skills">
			<p>{{cv.computer_skills|textile}}</p>
		</div>
		{% endif %}
		
		{% if cv.other_skills %}
		<h2>Other Skills</h2>
		<div class="cv-other_skills">
			<p>{{cv.other_skills|textile}}</p>
		</div>
		{% endif %}
		
		{% if cv.interests %}
		<h2>Interests</h2>
		<div class="cv-interests">
			<p>{{cv.interests|textile}}</p>
		</div>
		{% endif %}
		

		
	</div>
{% endblock %}
