{% load dashboard %}


<div id="my_proj" class="widget">

<h1>My Projects</h1>

{% if my_proj_list %}

	<ul class="my_projects projects">
		{% for object in my_proj_list %}
			<li class="{% ifequal object.manager request.user %} owner {% endifequal %}
			{% if object.active %} open {% else %} closed {% endif %}
			"><a href="{{object.get_absolute_url}}">{{object.name}}</a>
			{% if not object.active %} [closed] {% else %}  ({{ object.percentage }})  {% endif %}</li>
		{% endfor %}
	</ul>

	<div id="toggle-my_projects_div" class="view-all"><a href="#" id="toggle-my_projects">View All</a></div>

{% else %}
	<span class="warning">No projects in list</span>
{% endif %}

</div>