{% load dashboard %}
{% load datecolor %}


<div id="my_tasks" class="widget">

<h1>My Tasks</h1>

{% if my_task_list %}
<ul class="tasks">
	{% for object, remaining in my_task_list %}
		<div class="task open">

			<div class="task_info">
				<li class="{{object|colorstatus}}">
					<a href="{{object.get_absolute_url}}" title="{% if remaining %}{{remaining}} days left{% else %}No due date{% endif %} in {{object.project.name}} with {{object.get_priority_display}} priority">{{object.title}}</a>
				</li>
			</div>

			<div class="task_actions">
				<a href="/gestor/actionnote/in/{{object.id}}/" title="Add Note to ActionItem"><img src="{{MEDIA_URL}}icons/note_add.png" alt="Add Note" /></a>
				
				<a href="{{object.get_absolute_url}}finish/" title="Finish ActionItem"><img src="{{MEDIA_URL}}icons/accept.png" alt="Finish ActionItem" /></a>
				
				{% ifequal object.priority 1 %}
				<img src="{{MEDIA_URL}}icons/alert.gif" title="High Priority!" alt="High Priority!" />
				{% endifequal %}
			</div>

			<div class="clear"></div>
		</div>
	{% endfor %}
</ul>

{% else %}
	<span class="warning">You have no tasks! :)</span>
{% endif %}

</div>