{% extends "base.html" %}
{% load humanize %}
{% load datecolor %}

{% block content %}
	<div class="u_profile vcard">
		
		<h1 class="fn">{{u.get_full_name}}</h1>

		<div class="status">
			{% if u.is_staff %}
				<b>Admin</b>
			{% endif %}
		</div>

		<h3>Personal info</h3>
		<div class="personal-info">
			<p><b class="label">E-mail:</b> <a href="mailto:{{u.email}}" class="email">{{u.email}}</a></p>
			<p><b class="label">Last Visit:</b> {{u.last_login|naturalday}}</p>
			<p><b class="label">User Since:</b> {{u.date_joined|naturalday}}</p>
			
			<span class="org" style="display: none">jeKnowledge</span>
		</div>
		
		<h3>Curriculum Vitae</h3>
		{% ifequal u.curriculumvitae_set.count 0 %}
			This user doesn't have a CV yet.
		{% else %}
			<a href="{{u.get_absolute_url}}curriculum/">View {{u.get_full_name}}'s full CV</a>
			
			{% ifequal request.user u %}
				<br /><a href="/curriculum/{{ u.username }}/">Use this URL to share your public CV</a>
			{% endifequal %}
		{% endifequal %}
		
		
		{% if current_projects %}
			<h3>Current Projects</h3>
			<ul>
				{% for project in current_projects %}
					<li><a href="{{project.get_absolute_url}}">{{project.name}}</a>
					{% ifequal project.manager u  %}
						(Manager)
					{% endifequal %}
					</li> 
				{% endfor %}
			</ul>
		{% endif %}
		
		
		{% if past_projects %}
			<h3>Past Projects</h3>
			<ul>
				{% for project in past_projects %}
					<li><a href="{{project.get_absolute_url}}">{{project.name}}</a>
					{% ifequal project.manager u  %}
						(Manager)
					{% endifequal %}
					</li> 
				{% endfor %}
			</ul>
		{% endif %}
		
		{% load proj_utils %}
		
		{% if request.user.is_staff or request.user|manages_user:u %}
			{% if todo_list %}
				<h3>Todo List</h3>
				<ul>
					{% for item in todo_list %}
						<li class="{{item|colorstatus}}"><a href="{{item.get_absolute_url}}">{{ item.title }}</a></li> 
					{% endfor %}
				</ul>
			{% endif %}
		{% endif %}
		
		
	</div>
{% endblock %}
