{% extends "base.html" %}
{% load humanize %}

{% block content %}
	<div class="user_profile">
		<div class="status">
			{% if user.is_staff %}
				<b>Admin</b>
			{% endif %}
		</div>
		
		<h2>{{user.get_full_name}}</h2>

		<h3>Personal info</h3>
		<div class="personal-info">
			<p><b class="label">E-mail:</b> <a href="mailto:{{user.email}}">{{user.email}}</a></p>
			<p><b class="label">Last Visit:</b> {{user.last_login|naturalday}}</p>
			<p><b class="label">User Since:</b> {{user.date_joined|naturalday}}</p>
		</div>
		
		{% if current_projects %}
			<h3>Current Projects</h3>
			<ul>
				{% for project in current_projects %}
					<li><a href="{{project.get_absolute_url}}">{{project.name}}</a>
					{% ifequal project.manager user  %}
						(Manager)
					{% endifequal %}
					</li> 
				{% endfor %}
			</ul>
		{% endif %}
		
		
		{% if past_projects %}
			<h3>Past Projects</h3>
			<ul>
				{% for project in past_projects %}
					<li><a href="{{project.get_absolute_url}}">{{project.name}}</a>
					{% ifequal project.manager user  %}
						(Manager)
					{% endifequal %}
					</li> 
				{% endfor %}
			</ul>
		{% endif %}
		
		
		
	</div>
{% endblock %}
