{% extends "main.html" %}

{% block content %}

	<div id="side" class="clear span-8">
		<p>Uma empresa para os estudantes que querem criar o seu próprio futuro.</p>
		<img src="{{MEDIA_URL}}images/carreiras.jpg" class="illustration"/>
	</div>

	<div class="span-14 prepend-1 last">
	  <div class="description">
		<h2>Gestão de Talentos</h2>

		<p>Estes são os nossos valores:</p>
   
		<ul>	
			<li><h3>Dedicação</h3></li>
			<li><h3>Espírito de Equipa</h3></li>
			<li><h3>Empreendedorismo</h3></li>
   		</ul><br/><br/>
   	
		<p>Se  achas que tens a atitude certa, e queres vingar no mundo do trabalho quando acabares o teu curso, <a href="/contactos/">contacta-nos</a>!</p>

	  </div>
	</div>

{% endblock %}