<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="Júnior empresa da FCTUC" content="júnior FCTUC Coimbra empresa empreendorismo engenharia jeknowledge" />
	
	<title>jeKnowledge</title>
	
	<style type="text/css">
		body{ background-color: #008FC5; color:#fff; font-family: verdana, sans-serif; }
		a,a:hover,a:active{ color: #fff; text-decoration: none;}
		.link{ background-color: #007FB5; padding: 5px; text-align: right; float: right; }
		div#container{ width: 400px; margin-left: auto; margin-right: auto; margin-top: 100px; }
	</style>
	
</head>

<body>
	
	<div class="link" style="position:absolute; top:0; right:0;">
		<a href="/gestor/">Gestor</a>
	</div>
	
	<div id="container">
		<img src="{{MEDIA_URL}}images/nlogo.jpg" width="400"> <br />
		A junior empresa de Engenharia da Universidade de Coimbra.<br/><br/><br/>
		<i>A construir o futuro...</i><br/>
		
		<div class="link"><a href="{{MEDIA_URL}}docs/apresentacao.pdf">Mais informação...</a></div>
		
		<div style="margin-right: auto; margin-left: auto; padding-top: 60px; width:100px;">
			<a href="http://twitter.com/jeknowledge">
				<img src="{{MEDIA_URL}}images/twitter.png" alt="Twitter" title="Sigam-nos no Twitter" width="100"/>
			</a>
		</div>
	</div>


</body>
</html>
