<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	{% block feeds %}
		<link rel="alternate" type="application/rss+xml" title="Notícias jeKnowledge" href="/feeds/noticias" />
	{% endblock %}

	<script src="/media/js/prototype.js"></script>
	<link rel="stylesheet" href="/media/css/common.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/media/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<title>jeKnowledge - {% block title %} {% endblock %}</title>
</head>

<body>
	
	<div id="container">
		
		<div id="header">
			<a href="/"><img src="/media/images/logo_big.gif" alt="jeKnowledge" /></a>
		</div>
		
		<div id="nav">
			<ul>
				<li><a href="/apresentacao/">Apresentação</a></li>
				<li><a href="/sobre/">Sobre</a></li>
				<li><a href="/servicos/">Serviços</a></li>
				<li><a href="/parceiros/">Parceiros</a></li>
				<li><a href="/contactos/">Contactos</a></li>
				<li class="right"><a href="/gestor/">Gestor</a></li>
			</ul>
			<div class="clear"></div>
		</div>
		
		<div id="main">
			<div id="content">
				{% block content %}{% endblock %}
			</div>
   		</div>

		<div id="sidebar">
			<div id="menu">
				{% block menu %}
					{% load news %}
					
						<h3>Notícias</h3>
						{% latest_news %}
					
						<a href="/noticias">Arquivo</a>
					
				{% endblock %}
			</div>
		</div>
		
		<div id="footer" class="clear">
			&copy; 2008 jeKnowledge - Associação Conhecimento Prévio.
		</div>
		
	</div>
	
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-4699263-4");
		pageTracker._trackPageview();
		} catch(err) {}
	</script>
	
</body>
</html>
