{% load markup %}

<h2 {% if not object.is_published %}style="border: grey dashed 1px; background: #eeeeee;"{% endif %}><a href="{{object.get_absolute_url}}">{{object.title}}{% if not object.is_published %} <i>(Preview)</i>{% endif %}</a></h2>

<div class="article" {% if not object.is_published %}style=""{% endif %}>
	{% if truncate %}
		{{object.body|textile|truncatewords_html:80}}
	{% else %}
		{{object.body|textile}}
	{% endif %}
	
	<div class="article-footer">
	<div style="float: left;">
		<p>
		<script type="text/javascript">
			SHARETHIS.addEntry({
				title:'jeKnowlegde - {{object.title}}',
				url:build_base_url() + '{{object.get_absolute_url}}',
			}, {button:true} );
		</script>
		</p>
	</div>
	
	<div style="float: right;">
		<p>
			{% if request.user.is_staff %}
				{% if perms.mainsite.add_news %}<a href="{{object.get_admin_change_url}}">Editar</a> <img src="{{MEDIA_URL}}icons/dot.png" alt="" class="decor" /> {% endif %}
			{% endif %}
			{{object.date|date:"d/m/y"}} <img src="{{MEDIA_URL}}icons/dot.png" alt="" class="decor" /> 
			{% if object.has_author %} {{ object.author.get_full_name }}{% else %} jeKnowledge{% endif %}
		</p>
	</div>
	
	<div class="clear"></div>
	</div>
	<hr />
	
</div>

