{% extends "main.html" %}

{% block content %}

	<div class="clear span-8">
		<p>Estes são os nossos parceiros:</p>

		<img src="{{MEDIA_URL}}images/parceiros_fctuc.png" title="Faculdade de Ciências e Tecnologia da Universide de Coimbra" alt="FCTUC" class="illustration"/>
		<img src="{{MEDIA_URL}}images/parceiros_isa.png" title="ISA" alt="ISA" class="illustration"/><br />
		<img src="{{MEDIA_URL}}images/parceiros_cfc.png" title="Centro de Física Computacional" alt="Centro de Física Computacional" class="illustration"/>
		<img src="{{MEDIA_URL}}images/parceiros_intraneia.png" title="Intraneia" alt="Intraneia" class="illustration"/>

	</div>

	<div class="span-14 prepend-1 last description">
		<h2>Porque um parceiro satisfeito é o nosso melhor comercial</h2>

		<p>Alguns parceiros com quem já tivemos o prazer de trabalhar:</p>

		<ul>
			<li><a href="http://fct.uc.pt">Faculdade de Ciências e Tecnologia da Universidade de Coimbra</a></li>
			<li><a href="http://isa.pt">ISA</a> - Intelligent Sensing Anywhere, S.A</li>
			<li><a href="http://cfc.fis.uc.pt">Centro de Física Computacional</a></li>
			<li><a href="http://www.intraneia.com">Intraneia</a></li>
		</ul>
	</div>

{% endblock %}