{% extends "main.html" %}

{% block title %}- Parceiros{% endblock %}

{% block content %}

	<div class="clear span-8">
		<p>Estes são os nossos parceiros:</p>

		<img src="{{MEDIA_URL}}images/parceiros_fctuc.png" title="Faculdade de Ciências e Tecnologia da Universide de Coimbra" alt="FCTUC" class="illustration"/>
		<img src="{{MEDIA_URL}}images/parceiros_isa.png" title="ISA" alt="ISA" class="illustration"/><br />
		<img src="{{MEDIA_URL}}images/parceiros_cfc.png" title="Centro de Física Computacional" alt="Centro de Física Computacional" class="illustration"/>
		<img src="{{MEDIA_URL}}images/parceiros_intraneia.png" title="Intraneia" alt="Intraneia" class="illustration"/>

	</div>

	<div class="span-14 prepend-1 last description">
		<h2>Parceiros</h2>

		<p>A nossa posição priveligiada enquanto <strong>Júnior Empresa</strong> permite-nos oferecer aos nossos parceiros vantagens únicas, como ajudá-los a contratar os melhores, a colocar as pessoas certas nos locais certos. Somos ainda um veículo eficaz de <strong>marketing</strong> e <strong>branding</strong> no meio em que nos inserimos.</p>

		<p>Juntos podemos fazer a diferença através de situações <strong>win-win</strong>.</p>

	</div>

{% endblock %}
