{% extends "main.html" %}

{% block title %}- Serviços{% endblock %}

{% block content %}

	<div id="side" class="clear span-8">
	  <img src="{{MEDIA_URL}}images/servicos1.jpg" alt="" class="illustration"/>
	  <img src="{{MEDIA_URL}}images/keyboard.jpg" alt="keyboard" class="illustration"/>
		<p>Os nossos últimos clientes foram:
			<ul>
				<li> ISA - Intelligent Sensing Anywhere </li>
			 	<li> Intraneia </li>
			 	<li> LuzCompasso </li>
			</ul>
		</p>
	
	</div>

	<div class="span-14 prepend-1 last">
	  <div class="description">
		<h2>O que temos para oferecer</h2>
		
		<h3>Engenharia</h3>
		
		<p>Este é o nosso core business. Enquanto fornecedores trabalho temporário qualificado, podemos desenvolver soluções para os seus desafios de Engenharia, ou ajudar a sua equipa a vencê-los. As nossas áreas de actuação focam-se em: <strong>Tecnologias da Informação</strong>, <strong>Física</strong>, <strong>Electrotécnica</strong> e <strong>Biomédica</strong>, sob a forma de planeamento, desenvolvimento e consultadoria. 
		</p>
		
		<h3>Formação</h3>
		<p>Realizámos inquéritos aos estudantes ara compreender as necessidades actuais de formação e estamos a organizar <strong>workshops</strong>, um <strong>ciclo de gestão</strong> e outras <strong>palestras</strong>. Sabemos que nem sempre os conteúdos dos cursos superiores fornecem todas as competências necessárias para o mundo do trabalho. Temos portanto o objectivo de fazer a ponte de formação entre as competências que o mercado procura e as necessidades que os próprios estudantes identificam. Incorporamos nas acções de formação o nosso <strong>espírito prático</strong> e dinamismo, tentando sempre maximizar a sua relevância.</p>
		
		<h3>Marketing orientado a objectivos/produto</h3>
		<p>Recorrendo ao meios tecnológicos ao nosso dispor, oferecemos serviços de marketing orientado para objectivos ou produtos. Comprometemos-nos a rentabilizar e optimizar estratégias de divulgação ou de apresentação de produto ou evento.</p>
		
		<h3>Design</h3>
		<p>Sendo a Faculdade de Ciências e Tecnologia da Universidade de Coimbra uma prestigiada instituição de ensino contamos nos quadros da nossa empresa com colaboradores com formação na área do design e multimedia.</p>

	  </div>
	</div>

{% endblock %}