{% extends "main.html" %}

{% block title %}- Serviços{% endblock %}

{% block content %}

	<div id="side" class="clear span-8">
	  <img src="{{MEDIA_URL}}images/servicos1.jpg" alt="" class="illustration"/>
	  <img src="{{MEDIA_URL}}images/keyboard.jpg" alt="keyboard" class="illustration"/>
		<p>Os nossos últimos clientes foram:
			<ul>
				<li> ISA - Intelligent Sensing Anywhere </li>
			 	<li> Intraneia </li>
			 	<li> LuzCompasso </li>
			</ul>
		</p>
	
	</div>

	<div class="span-14 prepend-1 last">
	  <div class="description">
		<h2>O que temos para oferecer</h2>
		
		<h3>Engenharia</h3>
		
		<p>Este é o nosso <i>core business</i>. Enquanto fornecedores de trabalho temporário qualificado, podemos desenvolver soluções para os seus desafios de Engenharia, ou ajudar a sua equipa a vencê-los. As nossas áreas de actuação focam-se em: <strong>Tecnologias da Informação</strong>, <strong>Física</strong>, <strong>Electrotécnica</strong> e <strong>Biomédica</strong>, sob a forma de planeamento, desenvolvimento e consultadoria. 
		</p>
		
		<h3>Formação</h3>
		<p>Sabemos que nem sempre os conteúdos dos cursos superiores fornecem todas as competências necessárias para o mundo do trabalho. Temos portanto o objectivo de fazer a ponte de formação entre as competências que o mercado procura e as necessidades que os próprios estudantes identificam. Incorporamos nas acções de formação o nosso <strong>espírito prático</strong> e <strong>dinamismo</strong>, tentando sempre maximizar a sua relevância.</p>
		
		<h3>Marketing e Comunicação</h3>
		<p>Recorrendo aos meios tecnológicos ao nosso dispor, oferecemos serviços de marketing orientado para objectivos ou produtos. Comprometemo-nos a <strong>rentabilizar e optimizar</strong> estratégias de divulgação ou de apresentação de produto ou evento.</p>
		
		<h3>Web Design</h3>
		<p>Desenvolvemos websites completos tendo em conta a sua perspectiva e necessidades, usando as melhores tecnologias actuais. Produzimos também soluções nas mais variadas áreas do <strong>design gráfico</strong>, sejam elas identidades visuais, design de informação e design editorial, com o máximo rigor e convergência com as ideias do cliente. Temos ainda valências na produção e <strong>edição de video</strong> como forma de exemplificar processos e mecanismos, procurando sempre passar uma mensagem clara e útil.</p>
		
	  </div>
	</div>

{% endblock %}
