{% extends "main.html" %}

{% block title %}- Serviços{% endblock %}

{% block content %}

	<div id="side" class="clear span-8">
	  <img src="{{MEDIA_URL}}images/servicos1.jpg" alt="" class="illustration"/>
	  <img src="{{MEDIA_URL}}images/keyboard.jpg" alt="keyboard" class="illustration"/>
	</div>

	<div class="span-14 prepend-1 last">
	  <div class="description">
		<h2>O que temos para oferecer</h2>
		
		<h3>Engenharia</h3>
		<p>Enquanto alunos da Faculdade de Ciências e Tecnologias da Universidade de Coimbra, este é o nosso Core Business. Fornecemos soluções de Engenharia, com especial destaque nas áreas de <strong>IT</strong>, <strong>Eletrotécnica</strong> e <strong>Física</strong>, tendo desenvolvido software para clientes como <strong>ISA</strong> e <strong>Intraneia</strong>.</p>
		
		<h3>Formação</h3>
		<p>Oferecemos formação em diferentes áreas ministrada por formadores <strong>credenciados</strong>. Os módulos de formação encontram-se em actualização constante. São leccionados à medida das necessidades internas, sendo possível contratar os nossos serviços <strong>on-demand</strong>.</p>
		
		<h3>Marketing orientado a objectivos/produto</h3>
		<p>Recorrendo ao meios tecnológicos ao nosso dispor, oferecemos serviços de marketing orientado para objectivos ou produtos. Comprometemos-nos a rentabilizar e optimizar estratégias de divulgação ou de apresentação de produto ou evento. Na carteira habitual dos nossos clientes constam nomes como o <strong>Departamento de Física da Universidade de Coimbra</strong> ou a <strong>ISA</strong>.</p>
		
		<h3>Consultadoria</h3>
		<p>Prestamos serviços de consultoria em áreas de engenharia e design criando mecanismos de apoio à decisão.</p>

		<h3>Design</h3>
		<p>Sendo a Faculdade de Ciências e Tecnologia da Universidade de Coimbra uma prestigiada instituição de ensino contamos nos quadros da nossa empresa com colaboradores com formação na área do design e multimedia.</p>

	  </div>
	</div>

{% endblock %}