{% extends "main.html" %}

{% block content %}

	<div id="side" class="clear span-8">
	  <img src="{{MEDIA_URL}}images/sobre1.jpg" alt="" class="illustration"/>
	  <p>Uma <strong>Júnior Empresa</strong> é uma iniciativa sem fins lucrativos, com objectivos educacionais formada exclusivamente por alunos do ensino superior.</p>	  
	</div>

	<div class="span-14 prepend-1 last">
	  <div class="description">
		<h2>Quem somos</h2>
		<p>A jeKnowledge é a <strong>Júnior Empresa</strong> da Faculdade de Ciências e Tecnologias da Universidade de Coimbra. Ambicionamos ser uma referencia na formação de novos <strong>talentos</strong> nas áreas de <strong>Engenharia</strong> e <strong>Gestão</strong>.</p>
		<p>Enquanto <strong>Júnior Empresa</strong>, queremos pôr em prática o conhecimento gerado na Universidade no mercado global, oferecendo soluções de <strong>base tecnológica</strong> que primam pela <strong>dedicação</strong> e atitude <strong>empreendedora</strong> dos nossos colaboradores.</p>
		<p>Caso se identifique com os nossos valores, <a href="/contactos/">contacte-nos</a>.</p>
	  </div>
	</div>
	
{% endblock %}