{% extends "main.html" %}

{% block title %}- Sobre{% endblock %}

{% block content %}

	<div id="side" class="clear span-8">
	  <img src="{{MEDIA_URL}}images/sobre1.jpg" alt="" class="illustration"/>
	  <p>Uma <strong>Júnior Empresa</strong> é uma iniciativa sem fins lucrativos, com objectivos educacionais formada exclusivamente por alunos do ensino superior.</p>
	  <p>Os nossos valores são:</p>
		<ul>
			<li>Empreendedorismo </li>
		 	<li>Espírito de equipa </li>
		 	<li>Dedicação </li>
		</ul>
	</div>

	<div class="span-14 prepend-1 last">
	  <div class="description">
		<h2>Quem somos</h2>
		
		<p>A jeKnowledge é a <strong> Júnior Empresa </strong> da Faculdade de Ciências e Tecnologias da Universidade de Coimbra. Ambicionamos ser uma referência na formação de novos talentos nas áreas de <strong>Engenharia</strong> e <strong>Gestão</strong>. Enquanto Júnior Empresa, queremos pôr em prática o conhecimento adquirido na Universidade no mercado global, oferecendo soluções de base tecnológica que primam pela dedicação e atitude empreendedora dos nossos colaboradores.</p>
		
		<h2>A nossa cultura</h2>
		
		<p>Na jeKnowledge damos muita importância à nossa cultura de <strong>startup</strong>. Temos uma	equipa ambiciosa e exigente, que não se contenta com a formação base dos seus cursos, sempre ansiosa por aprender, praticar, fazer. Preferimos investir o nosso tempo na <strong>jeKnowledge</strong> e nos seus clientes. Porque sabemos que iremos evoluir e gostar de vencer os desafios. Porque sabemos que todas as nossas ideias e contributos são valiosos.</p>
		
	  </div>
	</div>
	
{% endblock %}
