<div class="social">
	<a href="http://twitter.com/jeknowledge" target="_blank">
		<img src="{{MEDIA_URL}}images/twitter.png" alt="Twitter" title="Twitter - @jeknowledge" class="media_icon"/>
	</a>
	<a href="http://facebook.com/pages/jeKnowledge/90394098566" target="_blank">
		<img src="{{MEDIA_URL}}images/facebook.png" alt="Facebook" title="Facebook fan page" class="media_icon"/>
	</a>
	<a href="http://flickr.com/jeknowledge" target="_blank">
		<img src="{{MEDIA_URL}}images/flickr.png" alt="Flickr" title="Flickr photostream" class="media_icon"/>
	</a>
	<a href="http://www.linkedin.com/companies/jeknowledge" target="_blank">
		<img src="{{MEDIA_URL}}images/linkedin.png" alt="Linked-in" title="Linked-in" class="media_icon"/>
	</a>
	<a href="http://feeds2.feedburner.com/jeknowledge" target="_blank">
		<img src="{{MEDIA_URL}}images/rss.png" alt="RSS feed" title="RSS feed" class="media_icon"/>
	</a>
</div>