{% extends "main.html" %}
{% load markup %}

{% block gmaps %}
<script src="{{MEDIA_URL}}js/formacao.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}js/prototype.js" type="text/javascript"></script>
{% endblock %}

{% block title %}- {{event.name}}{% endblock %}

{% block content %}

	<div id="side" class="clear span-8">
		<p>O email <a href="mailto:formacao@jeknowledge.com">formacao@jeknowledge.com</a> está disponível para o pedido de informações ou envio de novas sugestões.</p>
		<img src="{{MEDIA_URL}}images/lady.jpg" class="illustration" alt="Estátua branca em céu azul" /><br /><br />
		{{ event.details|textile }}
		
		<hr />
		
		{% if event.isWorkshop %}
			<h3>
			{% if not event.close_registration %}
			<a href="/formacao/{{event.id}}/inscrever/">Inscreva-se aqui</a>
			{% else %}
			Inscrições fechadas.
			{% endif %}
			</h3>
		{% endif %}
	</div>

	<div class="span-14 prepend-1 last">

		<div id="event_images">
			{% if event.isTalk %}
			<img class="event_icon" src="{{MEDIA_URL}}images/talk.png" alt="talk"/>
			{% else %}{% if event.isWorkshop %}
			<img class="event_icon" src="{{MEDIA_URL}}images/workshop.png" alt="workshop"/>
			{% endif %}{% endif %}
		</div>
		<h2>Formação</h2><br/>

		<h2>{{ event.name }}</h2>

		<h3>{{ event.date|date:"d/m/Y" }}</h3>
		
		{% if private %}{{ event.privateContent|textile }}{% else %}{{ event.content|textile }}{% endif %}
		
		<div style="float: left">
		
		{% if not private and event.privateContent %}
		
		{% if not event.password or perms.formacao.can_change_event %}
		<a href="{{ event.get_private_url }}"><img src="{{MEDIA_URL}}icons/key.gif" alt="Zona privada" title="Zona privada" /></a>
		{% else %}
		<img id="private_img" src="{{MEDIA_URL}}icons/key.gif" onclick="showPwdForm();" onmouseover="this.style.cursor='pointer';" alt="Zona privada" title="Zona privada" />

		<form id="password_form" action="{% url formacao.views.view_private_content event.id %}" method="post" style="display: none;">
			<b>Password: </b><input id="pwd_input" type="password" class="vTextField" name="pwd" maxlength="20" /> 

			<input type="image" src="{{MEDIA_URL}}icons/action_check.png" alt="Concluir" title="Concluir" />
			<img src="{{MEDIA_URL}}icons/action_delete.png" onclick="hidePwdForm();" onmouseover="this.style.cursor='pointer';" alt="Cancelar" title="Cancelar" />
		</form>
		{% endif %}
		
		{% else %}{% if event.privateContent %}
		<a href="{{ event.get_absolute_url }}"><img src="{{MEDIA_URL}}icons/home.png" alt="Zona aberta" title="Zona aberta" /></a>
		{% endif %}{% endif %}
		</div>
		
		<div style="float: right">
		<script type="text/javascript">
			SHARETHIS.addEntry({
				title:'jeKnowlegde - Formação - {{event.name}}',
				url:build_base_url() + '{{event.get_absolute_url}}',
			}, {button:true} );
		</script>
		</div>
	</div>


{% endblock %}