<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="pt-PT">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <!-- Framework CSS -->
  <link rel="stylesheet" href="{{MEDIA_URL}}css/mainsite/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{MEDIA_URL}}css/mainsite/print.css" type="text/css" media="print" />
  <!--[if IE]><link rel="stylesheet" href="{{MEDIA_URL}}css/mainsite/ie.css" type="text/css" media="screen, projection" /><![endif]-->
  <link rel="stylesheet" href="{{MEDIA_URL}}css/mainsite/custom.css" type="text/css" media="screen, projection" />
</head>
<body style="background: #FFFFFF; height: 50%;">
	<p style="margin-top: 250px; text-align: center;">Obrigado pela sua resposta!</p>
</body>