{% extends "main.html" %}

{% block title %}- Ecossistema{% endblock %}

{% block content %}

	<div id="side" class="clear span-8">
		<p>O email <a href="mailto:formacao@jeknowledge.com">formacao@jeknowledge.com</a> está disponível para o pedido de informações ou envio de novas sugestões.</p>
		<img src="{{MEDIA_URL}}images/lady.jpg" class="illustration"/><br/><br/>
		<p>Reveja as nossas <a href="/formacao/old/">formações já realizadas</a>.<p/>
	</div>

	<div class="span-14 prepend-1 last">
		<h2>Ecossistema</h2>

		<div id="js-mindmap">
			<ul>
				<li><a href="#">Clientes</a>
					<ul>
					<li><a href="http://www.ericsson.com/au/solutions/enterprise/index.shtml">Teste</a>
						<ul>
						<li><a href="http://www.ericsson.com/au/solutions/enterprise/sales_tools_demo.shtml">teste 2</a></li>
						</ul>
					</li>
					</ul>
				</li>
				<li><a href="#">Parceiros</a></li>
				<li><a href="#">Fornecedores</a></li>
				<li><a href="#">Amigos</a></li>
			</ul>
		</div>
		
	</div>
{% endblock %}